<a href="https://colab.research.google.com/github/hani-haddad/testpy/blob/master/MultiPages_imdb_top_250_movies__Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [ ]:
Url='https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=901&ref_=adv_nxt'

In [ ]:
page=requests.get(Url)
page

In [ ]:
soup = BeautifulSoup(page.content,'html.parser')
print(soup.prettify())

In [ ]:
scraped_movies=soup.find_all('div',class_="lister-item-content")
scraped_movies

In [ ]:
e=scraped_movies[-4].find_all('span',{'name':'nv'})

if len(e) >= 2 :
    gross = e[1].text
    if "M" in gross:
      gross= gross
    else : 
      gross= "--"
else : 
      gross= "--"
gross

'$30.50M'

##For multiple pages

In [ ]:
pageNums = np.arange(1,1000,100)
pageNums

array([  1, 101, 201, 301, 401, 501, 601, 701, 801, 901])

In [ ]:
movies_names = []
releaseYears = []
durations = []
ratings = []
metascors =[]
votes=[]
grosses =[]

In [ ]:
for pageNum in pageNums:

  Url="https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(pageNum)+"&ref_=adv_nxt"
  page=requests.get(Url)
  soup = BeautifulSoup(page.content,'html.parser')
  scraped_movies=soup.find_all('div',class_="lister-item-content")
  for movie in scraped_movies:
    movie_name=movie.find('h3',class_="lister-item-header").contents[3].text
    movies_names.append(movie_name)

    releaseYear= movie.find('h3',class_="lister-item-header").contents[5].text[1:5]
    releaseYears.append(releaseYear)

    duration = movie.find('span',class_="runtime").text
    durations.append(duration)

    rating = movie.find('span',class_="global-sprite rating-star imdb-rating").next_sibling.next_sibling.text
    ratings.append(rating)

    meta = movie.find('div',class_="inline-block ratings-metascore").text[1:3] if movie.find('div',class_="inline-block ratings-metascore") else "--"
    metascors.append(meta)

    vote= movie.find_all('span',{'name':'nv'})[0].text if movie.find_all('span',{'name':'nv'})[0].text else "--"
    votes.append(vote)

    e=movie.find_all('span',{'name':'nv'})

    if len(e) >= 2 :
        gross = e[1].text
        if "M" in gross:
          gross= gross
        else : 
          gross= "--"
    else : 
          gross= "--"
    
    grosses.append(gross)

In [ ]:
data = pd.DataFrame()
data["movie"]= movies_names
data["rating"]=ratings
data["releaseYear"]= releaseYears
data["Duration"]=durations
data["metascor"]= metascors
data["votes"]= votes
data["Gross"]= grosses
data.head(25)

,movie,rating,releaseYear,Duration,metascor,votes,Gross
0,The Shawshank Redemption,9.3,1994,142 min,81,"2,663,139",$28.34M
1,The Godfather,9.2,1972,175 min,10,"1,845,558",$134.97M
2,Kantara,9.0,2022,148 min,--,"67,863",--
3,The Dark Knight,9.0,2008,152 min,84,"2,636,108",$534.86M
4,The Lord of the Rings: The Return of the King,9.0,2003,201 min,94,"1,836,147",$377.85M
5,Schindler's List,9.0,1993,195 min,94,"1,348,615",$96.90M
6,The Godfather Part II,9.0,1974,202 min,90,"1,264,167",$57.30M
7,12 Angry Men,9.0,1957,96 min,96,"786,448",$4.36M
8,777 Charlie,8.9,2022,164 min,--,"30,258",--
9,Jai Bhim,8.9,2021,164 min,--,"201,126",--
10,Pulp Fiction,8.9,1994,154 min,94,"2,038,401",$107.93M
11,Rocketry: The Nambi Effect,8.8,2022,157 min,--,"49,458",--
12,Inception,8.8,2010,148 min,74,"2,335,887",$292.58M
13,The Lord of the Rings: The Two Towers,8.8,2002,179 min,87,"1,657,995",$342.55M
14,Fight Club,8.8,1999,139 min,66,"2,108,466",$37.03M
15,The Lord of the Rings: The Fellowship of the Ring,8.8,2001,178 min,92,"1,865,200",$315.54M
16,Forrest Gump,8.8,1994,142 min,82,"2,063,961",$330.25M
17,"The Good, the Bad and the Ugly",8.8,1966,178 min,90,"759,067",$6.10M
18,Soorarai Pottru,8.7,2020,153 min,--,"116,521",--
19,The Matrix,8.7,1999,136 min,73,"1,902,896",$171.48M
20,Goodfellas,8.7,1990,145 min,90,"1,154,144",$46.84M
21,Star Wars: Episode V - The Empire Strikes Back,8.7,1980,124 min,82,"1,286,123",$290.48M
22,One Flew Over the Cuckoo's Nest,8.7,1975,133 min,84,"1,004,396",$112.00M
23,Interstellar,8.6,2014,169 min,74,"1,809,541",$188.02M
24,City of God,8.6,2002,130 min,79,"754,793",$7.56M

In [ ]:
data

,movie,rating,releaseYear,Duration,metascor,votes,Gross
0,The Shawshank Redemption,9.3,1994,142 min,81,"2,663,139",$28.34M
1,The Godfather,9.2,1972,175 min,10,"1,845,558",$134.97M
2,Kantara,9.0,2022,148 min,--,"67,863",--
3,The Dark Knight,9.0,2008,152 min,84,"2,636,108",$534.86M
4,The Lord of the Rings: The Return of the King,9.0,2003,201 min,94,"1,836,147",$377.85M
...,...,...,...,...,...,...,...
995,Sabrina,7.6,1954,113 min,72,"65,703",--
996,From Here to Eternity,7.6,1953,118 min,85,"47,494",$30.50M
997,Snow White and the Seven Dwarfs,7.6,1937,83 min,95,"200,376",$184.93M
998,The 39 Steps,7.6,1935,86 min,93,"57,601",--
999,The Invisible Man,7.6,1933,71 min,87,"36,199",--

In [ ]:
data.to_json('movies.json', orient='records', lines=True)